body
{
    background-color: white;
    color: #00c2e5;

}
.content
{
    display: block;
    width: 70em;
    margin: 0 auto;
    background-color: #f4f4f4;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
}
img
{
    max-width: 70%;
}
.mapouter
{
    display: block;
    margin : 0 auto;
}