body
{
    font-family: "Fjalla One", "Arial Black";
    font-size: 25px;
}
.edit-news-button {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text], textarea {
    width: 100%;
    padding : 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.edit-news-container {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding : 20px;
    width: 50%;
}