body
{
    background-color: #cccccc;
    font-family: "Fjalla One", "Arial Black";
    font-size: 40px;
    color: #00c2e5;
}
.form
{
    background-color: #888888;
    display: block;
    margin: 0 auto;
    max-width: 30%;

}

input, select{
    float: right;
    width: 250px;
    height: 40px;
}
#sport, #city
{
    font-family: "Patua One", sans-serif;
    font-size: 20px;
}
.submit
{
    text-align: center;
}
#submit
{
    height: 60px;
    font-size: 40px;
}