body
{
    background-color: black;
    color: dodgerblue;

}
.content
{
    display: block;
    width: 70em;
    margin: 0 auto;
    background-color: white;
}
.welcoming
{
    text-align: center;
    font-size: 20px;
}
img
{
    max-width: 100%;
}
.news-panel
{
    display: grid;
    background-color: white;

}