body
{
    background-color: darkcyan;
    color: dodgerblue;

}
.content
{
    display: block;
    width: 70em;
    margin: 0 auto;
    background-color: white;
}
.welcoming
{
    text-align: center;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}
img
{
    max-width: 100%;
}
.highlight
{
    max-width: 100%;
    display: inline-block;
    background-color: #cccccc;
    font-family: "Fjalla One";
    font-size: 40px;
    line-height: 1.03em;
}
.news-container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 350px);
    background-color: darkseagreen;
    max-width: 100%;


}
.news-image
{
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;

}
.news
{
    display: block;
    max-width: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    margin : 10px;
    padding: 20px;
}