#menu
{
    background-color: #4CAF50;
    font-family: "Patua One", sans-serif;
}
#menu-bar {
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
    text-align: center ;
}
#menu-bar li
{
    font-size: 60px;
    display: inline ;
    padding: 10px auto;
    margin-right: 20px ;
    /*border: 10px double darkblue;*/
    color: #fff ;
    /*background: darkblue;*/
}
.menu-logo
{
    max-width: 120px;
    text-align: right;
}

#search-data {
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    border: none;
    padding: 10px;
}

#search-result-container{
    position: absolute;
    background-color: darkblue;
    right: 0px;
    min-width: 430px;
}
#search-result-container :hover {
    background-color: gray;
}
#search-container{
    position: relative;
}
